table {
  border-spacing: 0;
  th {
    border-bottom: 1px solid #ddd;
    padding: 1.2rem 1rem;
    min-width: 150px;
    position: sticky;
    background-color: #fafafa;
    color: #272727;
    top: 0;
    z-index: 1000;
  }

  td {
    border-bottom: 1px solid #ddd;
    padding: 20px 5px;
    min-width: 100px;
    background-color: #fafafa;
  }
}

table {
  td:nth-child(1) {
    position: sticky;
    left: 0;
    background-color: #fafafa;
    z-index: 100;
  }

  td:nth-child(2) {
    position: sticky;
    z-index: 100;
    background-color: #fafafa;
    left: 150px;
  }
}

.shadow--top {
  top: 0;
  background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.35), transparent);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.35), transparent);
  opacity: 0;
}

.shadow--bottom {
  bottom: 0;
  background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.35), transparent);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), transparent);
}
